h1 #{ meta.title }

img(src=`${ app.tagsConfig['tag_overview_' + meta.tag + '_image'] || app.tagsConfig.tag_overview_default_image }` alt='')

if meta.taggedPages.length > 0
    section
        each page, index in meta.taggedPages
            article
                // Use whatever porperties you add in your pages meta section here
                h2 #{ page.meta.title }

                span #{ page.meta.createdAt.toLocaleString(app.lang) }

                p #{ page.meta.description }

                a(href=`${ page.meta.href }`) Read more
